
.panel{
  padding: 10px;
  width: 100% !important;
  position: relative;
  border: 1px solid #00000029 !important;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
  }
  .panel-white {
  border: 1px solid #dddddd;
  }
  .panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  }
  .panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
  }
  
  .post-heading {
  height: 65px;
  padding: 20px 15px;
  }
  .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
  margin-left: 10px;
  }
  .post .post-heading .meta .title {
  margin-bottom: 0;
  margin-top: 12px;
  }
  .post .post-heading .meta .title a {
  color: black;
  }
  .post .post-heading .meta .title a:hover {
  color: #aaaaaa;
  }
  .post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
  }
  .post .post-image .image {
  width: 100%;
  height: auto;
  }
  .post .post-description {
  padding: 15px;
  }
  .post .post-description p {
  font-size: 14px;
  }
  .post .post-description .stats {
  margin-top: 20px;
  }
  .post .post-description .stats .stat-item {
  display: inline-block;
  border-top:1px solid #b1aabc;
  padding-top:10px;  
  width: 100%;
  margin: 15px 0px;
  margin-top: 0px;
  }

  .post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
  }
  .post .post-description .stats .stat-item .button{
  padding: 8px 15px;
  border: none;
  width: 33.333%;
  background: transparent;
  }

  .post .post-description .stats .stat-item .button:focus,
  .post .post-description .stats .stat-item .button:active,
  .post .post-description .stats .stat-item .button:focus-within{
    border: 1px solid #e0dddd !important;
  }


  .post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  }
  .post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
  }
  .post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
  }
  .post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
  }
  .post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
  }
  .post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
  }
  .post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
  }
  .post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
  }

  .like-desc{
    font-size: 12px;
    color: #999;
  }

  /* .floating-div{
    position: fixed; 
    margin-top: -40px;
  } */

  .post-images .background{
    height: 270px !important;
  }

  .post{
    border: 1px solid gray;
    padding: 10px 5px;
  }

  .grid-container{
    position: inherit !important;
  }

  @media (min-width: 768px) {
    .apni-class{
      padding-right: 25% !important;
      padding-left: 25% !important;
    }
  }

  .emoji-container{
    position: absolute;
    bottom: 60px;
    left: 40px;
    background: white;
    padding: 10px 15px !important;
    border-radius: 100px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .cover-text{
    font-size: 15px !important;
  }

  #zama-emoji{
    transition: 0.2s ease-in-out;
  }
  #zama-emoji:hover{
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
  }